- if @area
	%p
		Are you sure you want to delete the following area: 
		%em=h @area.name
		?
	%form{action: "/admin/area/#{@area.id}", method: "post"}  
		%input{ type: "hidden", name: "_method", value: "delete"}
		%input{ type: "submit", value: "Yes, Delete It!"}
		%a{href: "/admin/area/#{@area.id }"}Cancel 

- else
	
