!!!
%html
  %head
    %title #{@title} | Medicine Bow Ski Forum
    %link{ href: "/stylesheets/base.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/skeleton.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/layout.css", rel: "stylesheet" }
    %link{rel: "stylesheet", href: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"}


%body
  %header
    .container.sixteen.columns.header
      %h1.masthead
        %a.masthead{href: "/"} Medicine Bow Ski Forum
      %h4 Backcounty ski conditions for the Medicine Bow National Forest
  .container.sixteen.columns
    = yield
    %footer
      .one.columns.space &nbsp
      %hr