!!!
%html
  %head
    %title #{@title} | Medicine Bow Ski Forum
    %link{ href: "/stylesheets/base.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/skeleton.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/layout.css", rel: "stylesheet" }
    %link{rel: "stylesheet", href: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"}
    :javascript
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(100695202);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
%body
  %header
    .container.sixteen.columns.header
      %h1.masthead
        %a.masthead{href: "/"} Medicine Bow Ski Forum
      %h4 Backcountry ski conditions for the Medicine Bow National Forest
  .container.sixteen.columns
    = yield
    %footer
      %hr
      .one.columns.space &nbsp
      .fifteen.columns
        %p{style: "margin-after: 10px"} Did we miss something? Do you have any photos, GPS tracks or other information to share? 
        %p 
          Contact us at 
          %a{href: "mailto:info@wyoski.com"} info@wyoski.com