!!!
%html
  %head
    %title #{@title} | Laramie Ski Source
    %link{ href: "/stylesheets/base.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/skeleton.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/layout.css", rel: "stylesheet" }


%body
  %header
    .container.sixteen.columns.header
      %h1.masthead Medicine Bow Ski Forum
      %h4 Backcounty ski conditions for the Medicine Bow National Forest
      .container.ten.columns
        %br
        %br
        %h5{style: "text-align: left"} Wondering about the back-country ski conditions in the Medicine Bow National Forest? You’ve come to the right place. Before you head out to the Snowies, Chimney Park, or the un-groomed trails at Happy Jack, check to see what other skiers have said about the snow.
        %br
        %h5{style: "text-align: left"} And when you get back, spread the love: Tell us which trail(s) you skied, and what the snow was like.
      .container.six.columns
        %img{class: "scale-with-grid", src: "/masthead_photo.jpg"}
    %hr

  .container
    = yield
    %footer
      .one.columns.space &nbsp
      %hr
      .eight.columns.alpha.copyright &copy; 2013
      .eight.columns.omega.credit{style: "text-align: right;"}
        Based on 
        %a{href: "http://www.getskeleton.com/"} Skeleton.

