!!!
%html
	%head
		%title #{@title} | Medicine Bow Ski Forum
		%link{ href: "/stylesheets/base.css", rel: "stylesheet" }
		%link{ href: "/stylesheets/skeleton.css", rel: "stylesheet" }
		%link{ href: "/stylesheets/layout.css", rel: "stylesheet" }


%body
	.container.sixteen.columns
		%iframe.fluid-wrapper{ height: "600", width: "800", src: "https://mapsengine.google.com/map/u/0/embed?mid=zJYYv8J60wXY.kMLteRlfM__Y"}
		=#%iframe.fluid-wrapper{ frameborder: "0", height: "600", marginheight: "0", marginwidth: "0", scrolling: "no", width: "100%", src: "https://mapsengine.google.com/map/u/0/embed?mid=zJYYv8J60wXY.kMLteRlfM__Y"} 
		=# height: "600", width: "800"}