!!!
%html
  %head
    %title #{@title} | Medicine Bow Ski Forum
    %meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/
    :css
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBnKY7DHsBXsUSFd0imeI526cNE9h5IpUY&sensor=false", type: "text/javascript"}
      :cdata
    %script{:type => "text/javascript"}
      //<![CDATA[
      function initialize() {
      var mapOptions = {
      center: new google.maps.LatLng(41.290, -105.774),
      zoom: 10, 
      mapTypeId: google.maps.MapTypeId.TERRAIN
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      - @areas.each do |area| 
        var marker = new google.maps.Marker({ 
        position: new google.maps.LatLng(#{area.lat}, #{area.lng}),
        map: map,
        title:"#{area.name}"
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      //]]>
  %body
    #map-canvas