%script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
#map{style: "width: 600px; height: 400px"}
%script{:type => "text/javascript"}
	//<![CDATA[
	var map = L.map('map')
	ocmTile = "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png";
	ocmCopyright = "Map data &copy; 2012 OpenStreetMap contributors";
	ocmLayer = new L.TileLayer(ocmTile, { maxZoom: 18, attribution: ocmCopyright } );
	map.addLayer(ocmLayer);
	map.setView( new L.LatLng(#{@area.lat}, #{@area.lng}), 11 );
	//]]>	