%script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
%script{src: "/corner_mtn.js", type: "text/javascript"}
#map{style: "width: 600px; height: 400px"}
%script{:type => "text/javascript"}
	//<![CDATA[
	var map = L.map('map')
	ocmTile = "http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png";
	ocmCopyright = "&copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> Contributors & <a href=\"http://thunderforest.com/\">Thunderforest</a>";
	ocmLayer = new L.TileLayer(ocmTile, { maxZoom: 18, attribution: ocmCopyright } );
	map.addLayer(ocmLayer);
	map.setView( new L.LatLng(41.2298, -105.85756), 10 );
	L.geoJson(corner_mtn, {}).addTo(map);
	//]]>	